.git
.github
vendor
node_modules
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key
.env
.env.backup
.env.production
*.log
.phpunit.result.cache
.phpunit.cache
.idea
.vscode
